.skill {
  overflow: hidden;
}
.skill__carrete {
  display: flex;
  gap: 1rem;
}
.skill__carrete--motion {
  transition: transform 1s linear;
}
.skill__element {
  width: 5rem;
  height: 5rem;
  padding: 0.5rem;
  flex-shrink: 0;
}
