.aboutSection {
  /* position: relative; */
  /* z-index: 10; */
  background-color: rgb(114, 114, 114);
}
.about__img {
  min-height: 30em;
  outline: 1px solid red;
  margin-bottom: 2rem;
}
.about_p {
  margin-bottom: 2rem;
}

.about__foot {
  text-align: center;
}
