:root {
  --color-text: #fff;
  --bg-color: rgb(106, 170, 212);
}
body {
  color: var(--color-text);
  font-family: "Sansita", sans-serif;
  background-color: var(--bg-color);
}
.code {
  font-family: monospace;
  color: rgb(106, 170, 212);
}
.main-header__container {
  position: relative;
  font-size: 2rem;
  min-height: 100vh;
  padding: 1rem;
  background-image: url(/assets/images/wallaper.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-attachment: fixed;
}
.main-header__midcontainer {
  min-height: 55vh;
}
.main-header__subtitle {
  margin-bottom: 2rem;
}
.main-header__text {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.section {
  padding: 2rem 1rem 1rem;
}
.projects {
  position: relative;
  top: -1rem;
  border-radius: 1rem;
  background-color: var(--bg-color);
}

.section__title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.project-card {
  border: 1px solid currentColor;
  border-radius: 1rem;
  overflow: hidden;
  height: 20em;
  padding: 1rem;
  background-image: url(/assets/images/shoes-2425122_1280.jpg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1em;
}
.project-card__header {
  font-size: 2.5rem;
}

.project-card__p {
  font-size: 1.3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.cta-div {
  display: flex;
  gap: 1rem;
}
.button__cta {
  border-radius: 1em;
  display: inline-block;
  border: 1px solid currentColor;
  padding: 1rem;
}
.svg-icon {
  width: 2rem;
  margin-right: 1rem;
  fill: var(--color-text);
}
.project-navigation {
  text-align: center;
}
.project-navigation__ul {
  display: flex;
  gap: 1em;
  justify-content: center;
}
.tecno-element {
  width: 4rem;
}
.tecno-pallet {
  padding: 1em;
  display: flex;
  gap: 1rem;
  background-color: rgba(0, 0, 0, 0.432);
  border-radius: 1em;
  border: 1px solid currentColor;
}
.section--skills {
  min-height: 80vh;
  border-radius: 1rem;
  background-color: rgb(202, 80, 80);
}
