body {
  min-height: 100dvh;
  /* outline: 2px solid steelblue; */
  color: azure;
  font-family: sans-serif;
}

.bg {
  background: #464646;
}

.Padding2e {
  padding: 2rem;
}
.pageLinkBtn {
  padding: 1rem;
  display: block;
}
